.navbar-brand {
  padding-left: 2rem;
}
.navbar-nav {
  width: 100%;
  gap: 1.5rem;
}

.navbar-nav > .nav-link {
  color: #f8f8f8;
}
.nav-form {
  margin-left: auto;
  margin-right: 4rem;
}

.nav-form > button {
  color: white;
  background: #cc6234;
}

.is-invalid {
  color: red;
}

.museum-intro {   
  column-count: 2;
  padding: 10px 30px;
}
@media screen and (max-width: 992px) {
  .nav-form {
    margin-left: 0;
    margin-right: 0;
    flex-direction: row;
  }
  .museum-intro {
  column-count: 1;
  }
}
